body {
  background-color: #F6F4EE;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
  color: #000;
}

.container {
  width: 100%; 
  max-width: 430px;
  margin: 0 auto;
  background-color: #F6F4EE;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
