.welcome {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.welcome__hero {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__hero img {
  max-width: 100%;
  height: auto;
}

.welcome__date {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url('../assets/bg_welcome_date.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.welcome__date img {
  display: block;
  width: 100%;
}

.welcome__date-text {
  color: #000;
  text-align: center;
  font-family: "Beth Ellen";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px; /* 185% */
  white-space: nowrap;
}

.gallery {
  text-align: center;
  padding: 40px 0;
}

.gallery h2 {
  font-family: 'UhBee Se_hyun', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.gallery__grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.gallery__image {
  width: 100%;
  height: auto;
  display: block;
}